.header-middle .container .row {
    border-bottom: 1px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.header-middle .container .row .col-sm-4 {
    padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
    padding-right: 0;
}

.usa {
    border-radius: 0;
    color: #B4B1AB;
    font-size: 12px;
    margin-right: 20px;
    padding: 2px 15px;
    margin-top: 10px;
}

.usa:hover {
    background: #FE980F;
    color: #fff;
    border-color: #FE980F;
}

.usa:active,
.usa.active {
    background: none repeat scroll 0 0 #FE980F;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    outline: 0 none;
}
.btn-group.open .dropdown-toggle {
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    box-shadow: none;
}